<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的课题</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>

<body>
<div class="layui-layout layui-layout-admin">
    <!--引入公共头部-->
    <div th:replace="common :: #common-header"></div>

    <!--引入公共侧边栏-->
    <div th:replace="common :: #common-side"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <form class="layui-form layui-form-pane" th:action="@{/project/search}" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <button class="layui-btn layui-btn-fluid layui-btn-xs layui-btn-primary" lay-submit type="submit">搜索</button>
                    </label>
                    <div class="layui-input-block">
                        <input type="text" name="searchString" required  lay-verify="required" placeholder="请输入搜索内容" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </form>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>课题题目</th>
                    <th>课题类型</th>
                    <th>课题性质</th>
                    <th>课题状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project:${projects}">
                    <td th:text="${project.getTitle()}"></td>
                    <td th:text="${project.getType()}"></td>
                    <td th:text="${project.getNature()}"></td>
                    <td th:text="${project.getStatus()}"></td>
                    <td th:text="${#dates.format(project.getCreateTime(),'yyyy-MM-dd')}"></td>
                    <td>
                        <div class="layui-btn-group">
                            <a class="layui-btn layui-btn-sm" th:href="@{/project/}+${project.getpId()}">详细信息</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--引入公共底部-->
    <div th:replace="common :: #common-bottom"></div>

</div>

<!--引入公共script-->
<div th:replace="common :: #common-script"></div>

</body>
</html>