<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>课题打分</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>

<body>
<div class="layui-layout layui-layout-admin">
    <!--引入公共头部-->
    <div th:replace="common :: #common-header"></div>

    <!--引入公共侧边栏-->
    <div th:replace="common :: #common-side"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <h1>课题打分</h1>
            <br>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>课题题目</th>
                    <th>课题分数</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project:${projects}">
                    <td th:text="${project.getTitle()}"></td>
                    <td th:text="${project.getStatus().equals('待评分')}?'未评分':${project.getPoint()}"></td>
                    <td th:text="${#dates.format(project.getCreateTime(),'yyyy-MM-dd')}"></td>
                    <td>
                        <div class="layui-btn-group">
                            <a class="layui-btn layui-btn-sm layui-btn-normal"
                               th:if="${project.getStatus().equals('待评分')}" th:href="@{/project/score/}+${project.getpId()}">开始评分</a>
                            <a class="layui-btn layui-btn-sm layui-btn-danger"
                               th:if="${project.getStatus().equals('已完成')}" th:href="@{/project/score/}+${project.getpId()}">修改分数</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--引入公共底部-->
    <div th:replace="common :: #common-bottom"></div>

</div>

<!--引入公共script-->
<div th:replace="common :: #common-script"></div>

</body>
</html>