<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的课题</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>

<body>
<div class="layui-layout layui-layout-admin">
    <!--引入公共头部-->
    <div th:replace="common :: #common-header"></div>

    <!--引入公共侧边栏-->
    <div th:replace="common :: #common-side"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <h1>我的学生信息</h1>
            <table class="layui-table">
                <thead>
                <tr>
                    <th>学生姓名</th>
                    <th>学号</th>
                    <th>选择课题</th>
                    <th>选题时间</th>
                    <th>课题状态</th>
                    <th>所处阶段</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project:${projects}">
                    <td th:text="${projectStudentMap.get(project).getName()}"></td>
                    <td th:text="${projectStudentMap.get(project).getsNo()}"></td>
                    <td th:text="${project.getTitle()}"></td>
                    <td th:text="${#dates.format(project.getCreateTime(),'yyyy-MM-dd')}"></td>
                    <td th:text="${project.getStatus()}"></td>
                    <td th:text="${projectStageMap.get(project)}"></td>
                    <td>
                        <div class="layui-btn-group">
                            <a class="layui-btn layui-btn-primary layui-border-blue layui-btn-sm" th:href="@{/student/}+${project.getpId()}">详细信息</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--引入公共底部-->
    <div th:replace="common :: #common-bottom"></div>

</div>

<!--引入公共script-->
<div th:replace="common :: #common-script"></div>

</body>
</html>